flask==3.0.0
flask-cors==4.0.0
pymongo==4.6.1
python-dotenv==1.0.0
moviepy==1.0.3
numpy>=1.23.0,<2.0
pydub==0.25.1
python-magic==0.4.27
werkzeug==3.0.1
gunicorn==21.2.0
pytesseract==0.3.10
opencv-python-headless>=4.8.0
Pillow==10.1.0
PyJWT
bcrypt
flask-socketio
python-socketio
authlib
requests
gTTS==2.5.0
openai>=1.0.0
deep-translator==1.11.4
SpeechRecognition==3.10.0
